a{
    color: grey;
}
.header{
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.header h1{
    margin: 0;
}
.header a{
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    text-decoration: underline;
}
.form-title{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.form-title + a{
    color: grey;
    font-size: 14px;
}
.form {
    min-width: 300px;
    max-width: 400px;
    margin: 30px auto 50px;
    border: 1px solid #e3dcdc;
    border-radius: 10px;
    padding: 20px 40px;
}
.signup{
    margin-top: 30px;
}
.middle{
    margin: auto;
}
.todo-list{
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 0 10px 20px;
}
.set-options{
    width: 100%;
    margin: 10px 0;
}
.category{
    width: 30%;
    float: right;
}
.date{
    width:30%;
    margin-right: 5px;
    display: inline-block;
}
.list{
    width: 100%;
    margin-bottom: 70px;
}
.modify-title{
    font-size: 18px;
    font-weight: bold;
}
label{
    color: #979797;
}
#list-button{
    margin-top: 10px;
}
#add-todo{
    width: 100%;
    max-width: 482px;
    min-width: 300px;
    margin: auto;
}
.fixed-footer{
    padding: 10px 0;
    background-color: white;
}
.todo-item {
	width: 100%;
	border: 1px solid #cecbcb;
    border-radius: 4px;
    margin-bottom: 10px;
}
.todo-header {
	padding: 0 16px;
	border-bottom: 1px solid #cecbcb;
	height: 50px;
    line-height: 50px;
    background-color: #eaeaea;
}
.todo-title {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}
.todo-time {
	float: right;
    font-size: small;
    margin-right: 20px;
}
.delete-todo {
	float: right;
	border: none;
	background-color: inherit;
	font-size: 25px;
	font-weight: bold;
    padding: 0;
    height: 100%;
}
.todo-body {
	padding: 16px;
}
.no-todos{
    text-align: center;
    color: grey;
    margin-top: 50px;
}
.add-todo-button{
    width: 100px;
}
.schedule-time{
    margin-bottom: 12px;
}
.pick-date{
    display: inline-block;
    width: 40%;
}
.time-box{
    width: 48%;
    float: right;
}
.float-right{
    width: 40%;
    float: right;
}
.left-side{
    float: left;
}
.right-side{
    float: right;
}